pkgbase = libcronet-static
	pkgdesc = Cronet is the networking stack of Chromium put into a library for use on mobile
	pkgver = 110.0.5481.77
	pkgrel = 2
	url = https://www.chromium.org/Home
	arch = x86_64
	license = BSD
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = git
	makedepends = mesa
	depends = nss
	depends = libgcrypt
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-110.0.5481.77.tar.xz
	source = 0001-add-cronet-static.patch
	sha256sums = e348ab2dc4311083e729d714a81e95dd9db108ff71437dde451c97ac939881ce
	sha256sums = 6c49e14e79cc50f95a6f02db262874106b02c20f49998131e2b78f3d2f38ca64

pkgname = libcronet-static
