# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  validation:
    runs-on: ubuntu-latest
    name: Validate a Pull Request
    steps:
      - uses: actions/checkout@v1

      - name: Validate PKGBUILD
        id: validate-pkgbuild
        uses: ./.github/actions/pkgbuild
        with:
          target: 'pkgbuild'
          pkgname: 'libcronet'

      - name: Validate SRCINFO
        id: validate-srcinfo
        uses: ./.github/actions/pkgbuild
        with:
          target: 'srcinfo'
          pkgname: 'libcronet'

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          # Artifact name
          name: libcronet # optional, default is artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: $GITHUB_WORKSPACE/*.pkg.tar.zst
